.row.main

	.column-9.suffix-2(style='margin-left: 30px; margin-bottom: 50px')

		h2(style='margin-top:55px')
			| About

		hr

		p
			| In neuroscience, there are many open data analysis problems that demand robust, scalable solutions. 

		p(style='font-size:22px; font-family:"CooperHewitt-LightItalic"; max-width:600px')
			| We want our solutions to be effective and reproducible. 

		p 
			| So we need to validate our methods against vetted data sets in standardized environments.

		p
			a(href='https://en.wikipedia.org/wiki/Calcium_imaging')
				| Calcium imaging 
			| is a dominant technique in modern neuroscience for measuring the activity of large populations of neurons. Despite its ubiqutiy, there are several open challenges in how to best process and extract signals from these data. 

		img(src='https://s3.amazonaws.com/code.neuro/neurofinder/movie.gif', class='movie')
		img(src='https://s3.amazonaws.com/code.neuro/neurofinder/zooming.gif', class='movie')
		
		p
			| One such challenge is taking time-varying images (left) and extracting spatiotemporal "sources" or "regions of interest" (right) that correspond to individual neurons. We hope to sytematically evaulate and compare both existing and novel algorithms on vetted data with known ground truth.

		p
			| Our approach:

		ul(style='max-width:600px')
			li.list-normal
				| All algorithms will be run in a <em class="callout">common environment</em>, availiable as a Docker container, with standard input and output formats.

			li.list-normal
				| We will compute benchmarks on a <em class="callout">regular basis</em>, to show researchers how their algorithms perform across many data sets with several metrics. 

			li.list-normal
				|	All algorithms will be provided by and for the <em class="callout">community</em>, and made availiable as open source through our GitHub-integrated submission system.

		br

		p
			| We start with a narrow focus: mouse two-photon laser-scanning microscopy with genetically encoded calcium indicators (e.g. GCaMP6). We will expand to other imaging modalities (light-sheet imaging, light-field imaging) and other species (zebrafish). 

		hr

		h3
			| Data

		p
			| Data sets have been generously prepared by the following individuals and labs (more will be added as available):

		ul

			li.list-name
				| Simon Peron and Karel Svoboda

			li.list-name
				| Adam Packer, Lloyd Russell, and Michael H&auml;usser

			li.list-name
				| Philipp Bethge and Fritjof Helmchen

			li.list-name
				| Jeff Zaremba, Patrick Kaifosh, and Attila Losonczy

		br

		p
			| All data are hosted via Amazon S3 at the 
			a(href='http://datasets.codeneuro.org')
				| CodeNeuro data repository  
			| and can be accessed from instances running on EC2, including from our 
			a(href='http://datasets.codeneuro.org')
				| notebook service 
			| for easy exploration.

		p
			| In our standard input format, data are organized into a folder with:

		pre
			code.
				info.json 
				images/image_t0.bin
				images/image_t1.bin
				...
				images/conf.json
				sources/sources.json

		p
			| The 
			span.inline-code 
				| info.json
			| file contains metadata like contributors, imaging method, and spatial scale (see an 
			a(href="https://s3.amazonaws.com/neuro.datasets/challenges/neurofinder/00.00/info.json")
				| example
			| ).

		p 
			| The 
			span.inline-code 
				| images
			| folder contains one flat binary file per time point and a
			span.inline-code 
				| conf.json
			| binary format specifcation:

		pre
			code.
				{
					"dims": [x,y],
					"dtype": "uint16"
				}

		p
			| The
			span.inline-code 
				| sources.json
			| file contains the identified neurons using the following standard format (inspired by 
			a(href='http://geojson.org/')
				| GeoJSON
			| ).

		pre
			code.
				[
					{
						"id": 1,
						"coordinates": [[x0,y0], [x1,y1], ...],
						"values": [v0, v1, ...],
					},
					...
				]

		p
			| where 
			span.inline-code 
				| coordinates
			| are the coordinates of pixels included in that source, and  
			span.inline-code 
				| values
			| are an optional list of pixel weights (otherwise assumed binary). For training data, all sources have been vetted and curated, and a subset are based on ground-truth anatomical markers.

		hr

		h3
			| Who

		p
			| NeuroFinder is a community effort!

		p
			| The standard formats and evaluation metrics were decided at the 
			a(href='http://codeneuro.org/2015/NYC')
				| CodeNeuro NYC 
			| hackathon, with contributions from Simon Peron, Adam Packer, Logan Grosenick, Nicholas Sofroniew, Darcy Peterka, Patrick Kaifosh, Jeff Zaremba, Ben Poole, Sophie Aimon, Tim Machado, Eliza Chang, and many others. 

		p
			| This website and automatic job runner was also begun at the hackathon and further developed by Matt Conlen, Maxwell Rebo, Jeremy Freeman, Michael Broxton, Aero Wang, and Yangbo Du.

		p 
			| The source code of the website, job runner, and leaderboard are all availabe on 
			a(href='http://github.com/codeneuro')
				| GitHub
			| .

		hr

		h3
			| Contact

		p
			| If you have questions or difficulty submitting, want to add a dataset, or get involved, reach out on 
			a(href='http://twitter.com/codeneuro')
				| twitter 
			| or our 
			a(href='https://gitter.im/CodeNeuro/neurofinder')
				| chatroom
			| .